* {
    font-family: "Ubuntu";
}

body {
    height: 100vh;
    box-sizing: border-box;    
    
    border: 10px solid black;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: white;
    color: black;
    height: 15%;

    box-sizing: border-box;
    border-width: 0px 0px 10px 0px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.middle {
    background-color: magenta;
    height: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.middle .left-section, .middle .right-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle .left-section {
    background-color: #90D1FF;
}

.middle .right-section {
    background-color: #FFA39D;
}


.player-title {
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 25px;
}

.middle .left-section .player-title {
    background-color: transparent;
}

.middle .right-section .player-title {
    background-color: transparent;
}


.player-options {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.middle .left-section .player-options {
    background-color: transparent;
}

.middle .right-section .player-options {
    background-color: transparent;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    background-color: white;
    width: 125px;
    height: 125px;

    border: 8px solid black;
    border-radius: 15%;
}

.confirm {
    background-color: white;
    color: black;
    font-size: 15px;

    border: 4px solid black;
    border-radius: 20px;

    width: 150px;
    height: 30px;
}


.player-score {
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
    font-size: 100px;
}

.middle .left-section .player-score {
    background-color: transparent;
}

.middle .right-section .player-score {
    background-color: transparent;
}


.footer {
    background-color: #FEFFD1;
    color: black;
    height: 15%;

    font-size: 20px;
    font-weight: bold;

    box-sizing: border-box;
    border-width: 10px 0px 0px 0px;
    border-color: black;
    border-style: solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}